<ul>
  <li class="num_of_contacts"> There are <span class="underline"><%=Contact.all.length%></span> contacts</li>
<% Contact.all.each do |contact| %>
  <div class="contact_edit_delete">
    <li><a href="/contacts/<%= contact.id %>"><%= contact.first_name %> <%= contact.last_name %></a> <%= contact.email %> <%= contact.note %>
    </li>
    <li><a href="/contacts/<%= contact.id %>/edit">Edit</a> | <a href="/contacts/<%= contact.id %>">Delete</a></li>
  </div>
  <% end %>
</ul>
